/* label color */
.input-field label {
  color: #0686cd;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #0686cd;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #0686cd;
  box-shadow: 0 1px 0 0 #0686cd;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #0686cd;
  box-shadow: 0 1px 0 0 #0686cd;
}
.input-field input[type=password].valid {
  border-bottom: 1px solid #0686cd;
  box-shadow: 0 1px 0 0 #0686cd;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #0686cd;
  box-shadow: 0 1px 0 0 #0686cd;
}
.input-field input[type=password].invalid {
  border-bottom: 1px solid #0686cd;
  box-shadow: 0 1px 0 0 #0686cd;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #0686cd;
}
.hidden{
  display: none;
}

